.a-s1{
	animation-duration: 1s;
    animation-fill-mode: both;
}
.a-s2{
	animation-duration: 2s;
    animation-fill-mode: both;
}
.a-s3{
	animation-duration: 3s;
    animation-fill-mode: both;
}
.a-s4{
	animation-duration: 4s;
    animation-fill-mode: both;
}
.a-s5{
	animation-duration: 5s;
    animation-fill-mode: both;
}
.a-s6{
	animation-duration: 6s;
    animation-fill-mode: both;
}
.a-s7{
	animation-duration: 7s;
    animation-fill-mode: both;
}
.a-s8{
	animation-duration: 8s;
    animation-fill-mode: both;
}
.a-s9{
	animation-duration: 9s;
    animation-fill-mode: both;
}
.a-s10{
	animation-duration: 10s;
    animation-fill-mode: both;
}
.a-s11{
	animation-duration: 11s;
    animation-fill-mode: both;
}
.a-s12{
	animation-duration: 12s;
    animation-fill-mode: both;
}